
.hero-and-features {
    text-align: center;
}

.hero-banner {
    max-width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    border-radius: 10px;
    margin: 10px auto;
    background: url("../../assets/hero.jpg") no-repeat center center;
    background-size: cover;
}

.features {
    max-width: 90%;
    margin: auto;
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    height: 70px;
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.feature img {
    filter: sepia(1) hue-rotate(180deg) saturate(5);
    height: 50px;
}
